@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font-roboto: 'Roboto', sans-serif;

* { padding: 0; margin: 0; }
p { line-height: 1.5rem; }

body { font-family: $font-roboto; font-size: 15px; }

#auth {
  width: 100%;
  #auth-wrap {
    padding: 80px 0;
    display: flex; justify-content: center;
    form {
      width: 300px;
      display: grid; grid-template-columns: 1fr;
      input {
        margin: 0 0 20px 0;
      }
      .message {
        margin: 0 0 20px 0;
        padding: 10px 15px;
      }
      .form-control {
        padding: 15px;
        border-radius: 1rem;
        border: 1px solid #bbb; 
        outline: none;
        font-family: $font-roboto;
        font-size: 15px;
      }
      .ask {
        margin: 40px 0 0 0;
        display: flex; align-items: center;
        p { margin: 0 10px 0 0; }
      }
    }
  }
}